// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
* { padding:5px 0px; -webkit-font-smoothing: antialiased; }
body { padding:30px 20px; font:400 .95em/1em 'Alegreya', serif; }
h1 { padding: 0px; }
nav a { padding:0 3px; }
.hidden { display: none; }
a { text-decoration: none; color:#000; }

input { padding: 10px; width: 250px; font:400 1.2em/1.2em 'Alegreya', serif; outline: none; border:none; background: #e6e6e6;
	&:focus { background: #ffdddd; }
}

.link {

	min-width: 300px;
    width: 29%;
    margin: 0 2% 50px;
    float: left;
	text-align: center;

	img {
		width: 100%;
	}

	p, img, a { padding: 0; }
	a.ext {
		@include transition(all ease .2s);
		width: inherit;
		position: relative;
		&::after {
			content: '⌗';
			font-size: 1em;
			display:block; 
			position: absolute;
			top:100%;
			right: 0;
			width:10px;
			height:10px;
			margin-top: -17px;
			margin-right: -14px;
			color:lighten(black, 70%);
			@include transition(all ease .1s);
			
		}
		&:hover {
			color:lighten(red, 20%);
			&::after {
				margin-right: -16px;	
			}
		}
	}

}

.notes { 
	p, a { display: inline-block; padding: 3px 3px 3px 0px; }
}

.home { 
	font-size: 1.7em; vertical-align: top; padding: 5px 10px 0 0;
}

.alert {
	position: fixed;
	top:20px;
	right:20px;
}

#single { 
	background: black;
	color: white;
	position:fixed;
	overflow-x:auto;
	overflow-y:scroll;
	bottom:0;
	left:50%;
	right:0;
	top:0;
	z-index:9999;
	display: none;
	& > * {
		max-width: 100%;
	}
	a { color:white;  }
	#link {
		display: block;
		position: relative;
		padding: 40px;
		text-align: left;
		img { max-width: 100%; border:none; }
	}
	&.active {
		opacity: 1;
	}

}

#ghost {
	position: fixed;
	background:white;
	opacity: .8;
	left:0;
	top:0;
	padding: 0;
	margin: 0;
	z-index: 9999;
	min-height: 100%;
	width:50%;
	display: none;
}
#ghost:hover {	
   cursor: url(back.png), auto;
}


@media only screen and (min-device-width : 320px) {
	body { padding: 5px; }
}